html, body {
    height: 100%;
    margin: 0;
  }
  
  .page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .login-container {
    flex: 1;
    padding: 3rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-box {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 2.5rem 2rem;
    max-width: 420px;
    width: 100%;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(6px);
  }
  
  .login-box h1 {
    font-size: 1.4rem;
    text-decoration: underline;
    margin-bottom: 2rem;
    color: var(--color-1)
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
  
  label {
    text-align: left;
    font-size: 1.05rem;
    font-weight: 500;
    margin-bottom: 0.3rem;
    color: #000;
  }
  
  input[type="email"],
  input[type="password"] {
    padding: 1rem;
    border: 1px solid #000;
    border-radius: 8px;
    font-size: 1rem;
    width: 100%;
  }
  
  .forgot-password {
    color: #0074cc;
    font-size: 0.9rem;
    text-decoration: underline;
    text-align: left;
    display: block;
    margin-top: -0.3rem;
    padding-left: 30%;
  }
  
  input[type="checkbox"] {
    width: 20px;
    height: 20px;
    top: 5px;
    right: 10px;
    margin: 0;
    display: inline-block;
    cursor: pointer;
    appearance: none; 
    border: 2px solid #000;
    border-radius: 5px; 
    position: relative;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  /* Style au survol de la checkbox */
  input[type="checkbox"]:hover {
    border-color: #0074cc;
  }
  
  /* Style lorsque la checkbox est cochée */
  input[type="checkbox"]:checked {
    background-color: #0074cc; 
    border-color: #0074cc; 
  }
  
  input[type="checkbox"]:checked::before {
    content: '✔'; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 14px;
  }
  
  .login-button {
    background-color: #d94747;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 1rem;
    font-size: 1.05rem;
    cursor: pointer;
    margin-top: 0.8rem;
    transition: background-color 0.2s ease-in-out;
  }
  
  .login-button:hover {
    background-color: #b53737;
  }
  
  .no-account {
    font-size: 1rem;
    margin-top: 2rem;
    color: #000;
  }
  
  .create-link {
    color: #0074cc;
    text-decoration: underline;
    font-weight: 500;
  }
  
